# React
node_modules/
Frontend/node_modules/
build/

# Python
__pycache__/
*.pyc
.venv/
.venv-1/
.venv-2/

# VS Code
.vscode/

# Dataset
chest_xray/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env
Backend/.env

# Logs
*.log

# Backend Uploads
Backend/uploads/